services:
  nextapp:
    container_name: nextapp
    build:
      context: ./nextapp
      dockerfile: prod.Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    restart: always
    ports:
      - 3000:3000
